<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
        integrity="sha256-UhQQ4fxEeABh4JrcmAJ1+16id/1dnlOEVCFOxDef9Lw=" crossorigin="anonymous" />
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
        integrity="sha256-kksNxjDRxd/5+jGurZUJd1sdR2v+ClrCl3svESBaJqw=" crossorigin="anonymous" />
</head>
<body>
     <ul class="owl-carousel " style="width:200px;">

         <li style="width: 100%">
             <img src="img/interfaces/Artboard – 11.png" />
         </li>
<li>
    <img src="img/interfaces/Home.png" />


</li>
<li>
    <img src="img/interfaces/News.png" />
</li>
<li>
    <img src="img/interfaces/News.png" />
</li>
<li>
    <img src="img/interfaces/News.png" />
</li>
<li>
    <img src="img/interfaces/News.png" />
</li>
<li>
    <img src="img/interfaces/News.png" />
</li>
</ul>
     <script src="https://code.jquery.com/jquery-3.4.1.min.js"
         integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
         integrity="sha256-pTxD+DSzIwmwhOqTFN+DB+nHjO4iAsbgfyFq5K5bcE0=" crossorigin="anonymous"></script>
</body>
